<div class="field" [class.field--error]="!!error">
  @if (label) {
    <label class="field__label">{{ label }}</label>
  }

  <ng-select
    class="field__select"
    [items]="options"
    bindLabel="label"
    bindValue="value"
    [clearable]="false"
    [searchable]="options.length > 6"
    [placeholder]="placeholder"
    [ngModel]="value || null"
    (ngModelChange)="onSelect($event)"
    [disabled]="disabled"
    (blur)="onBlur()"
  ></ng-select>

  @if (error) {
    <span class="field__error">{{ error }}</span>
  }
</div>
