<div class="field" [class.field--error]="!!error">
  @if (label) {
    <div class="field__label-row">
      <label class="field__label">{{ label }}</label>
      @if (required) {
        <span class="field__required">Requerido</span>
      }
    </div>
  }

  <input
    class="field__input"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [disabled]="disabled"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />

  @if (error) {
    <span class="field__error">{{ error }}</span>
  } @else if (hint) {
    <span class="field__hint">{{ hint }}</span>
  }
</div>
